extends ../layouts/common.pug
block content
    h1 Update
    form(action="/auth/updatepassword", method="PUT")
        .mb-3
            label(class="form-label",for="password") Password
            input#email.form-control(type="password", name="password" )
        .mb-3   
            label(class="form-label", for="newPassword") New Password
            input#password.form-control(type="password", name="newPassword")
    
        button(class="btn btn-primary ms-2") Confirm
